- const FAQ_FILTERS = [{text: 'Все', target: 'all'},  {text: 'Пчелы-Королевы', target: 'QueenBees'},  {text: 'Пчелы-трутни', target: 'DroneBees'}, {text: 'Рабочие пчелы', target: 'WorkerBees'}];

section.faqs.section__bees-nft
	.faqs__container.container 
		header.data-types__header 
			+title('Приобретайте NFT Bees с функциональным обеспечением!', 'h2', 'data-types__title')
		p.about-nodes__text.bees-nft__text
				| Подберите NFT Bees из 16 видов нужного функционала и соберите Ноду. Каждая пчела уникальна и даст разные возможности для вашей ноды. Больше пчел выше функциональность.
		
		.faqs__filters.swiper-container.__js_faq-filters
			.swiper-wrapper 
				each item, index in FAQ_FILTERS 
					- let cl = index === 0 ? ' active' : '';
					+button(item.text, 'faqs__filter faqs__filterBeer swiper-slide button--rounded button--outline-green' + cl, '', '')(type="button", data-target= item.target)
		
		.bees-nft__list.accordion
			a.bees-nft__item(class= actCl, data-category="WorkerBees, all") 
				.bees-nft__item__fon.bees-nft__item__fon__green
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__1.png", srcset="images/page-7/node__bee__1@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(class= actCl, data-category="WorkerBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__green
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__2.png", srcset="images/page-7/node__bee__2@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(class= actCl, data-category="WorkerBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__green
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__3.png", srcset="images/page-7/node__bee__3@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="WorkerBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__green
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__4.png", srcset="images/page-7/node__bee__4@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="WorkerBees, all")   
				.bees-nft__item__fon.bees-nft__item__fon__green
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__5.png", srcset="images/page-7/node__bee__5@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now

			a.bees-nft__item(data-category="DroneBees, all")   
				.bees-nft__item__fon.bees-nft__item__fon__orenge
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__6.png", srcset="images/page-7/node__bee__6@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="DroneBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__orenge
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__7.png", srcset="images/page-7/node__bee__7@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="DroneBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__orenge
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__8.png", srcset="images/page-7/node__bee__8@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="QueenBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__purple
					img.bees-nft__item__fon__beeImg(src="images/page-7/node__bee__10.png", srcset="images/page-7/node__bee__10@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="QueenBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__purple
					img.bees-nft__item__fon__beeImg(src="images/page-/node__bee__11.png", srcset="images/page-7/node__bee__11@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="QueenBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__purple
					img.bees-nft__item__fon__beeImg(src="images/page-/node__bee__9.png", srcset="images/page-7/node__bee__9@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="QueenBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__purple
					img.bees-nft__item__fon__beeImg(src="images/page-/node__bee__10.png", srcset="images/page-7/node__bee__10@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
			a.bees-nft__item(data-category="QueenBees, all")  
				.bees-nft__item__fon.bees-nft__item__fon__purple
					//- img.bees-nft__item__fon__beeImg(src="images/page-/node__bee__10.png", srcset="images/page-7/node__bee__10@2x.png 2x", alt="")  
				.bees-nft__item__desc 
					.bees-nft__item__desc__left
						.bees-nft__item__desc__left__title
							| Пчела-сортировщик
						.bees-nft__item__desc__left__number
							| #123456
					.bees-nft__item__desc__right
						.bees-nft__item__desc__right__price Price
						.bees-nft__item__desc__right__cost 28.888
				.bees-nft__item__btn Buy now
