section.hero-section
  .hero-section__container.container
    +innerpage-title('Соберите функциональную Ноду из NFT', 'Выберите NFT нужного функционала и соберите персонализированную Ноду', 'hero-section__title')
    .hero-section__image.hero-section__image--nodes 
      picture 
        source(media="(max-width: 1200px)", srcset="images/page-7/node-types__new--2@2x.png  1x, images/page-7/node-types__new--2@2x.png  2x")
        img(src="images/page-7/node-types__new.png", srcset="images/page-7/node-types__new--2@2x.png 2x", alt="Nodes")
