- const FAQ_FILTERS_NODE = [{text: 'Все', target: 'allNodes'},  {text: 'Мини Ноды', target: 'MiniNodes'},  {text: 'Стандарт Ноды', target: 'StandardNodes'}, {text: 'Мастер Ноды', target: 'MasterNodes'}];

section.faqs.section__node-nft
	.faqs__container.container 
		header.data-types__header 
			+title('Приобретайте NFT Nodes с функциональным обеспечением!', 'h2', 'data-types__title')
		p.about-nodes__text.node--nft__slider__text
				| NFT Nodes имеет 3 типа и по 4 уровня каждая. У каждой ноды своя вместимость пчел, базовый функционал и возможности в экосистеме	
		
		.faqs__filters.swiper-container.__js_faq-filters
			.swiper-wrapper 
				each item, index in FAQ_FILTERS_NODE 
					- let cl = index === 0 ? ' active' : '';
					+button(item.text, 'faqs__filterNode faqs__filter swiper-slide button--rounded button--outline-green' + cl, '', '')(type="button", data-target= item.target)
		
		.node-nft__list 
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__1.png", srcset="images/page-7/node-nft__1@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__2.png", srcset="images/page-7/node-nft__2@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__3.png", srcset="images/page-7/node-nft__3@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__4.png", srcset="images/page-7/node-nft__4@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__5.png", srcset="images/page-7/node-nft__5@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__6.png", srcset="images/page-7/node-nft__6@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__7.png", srcset="images/page-7/node-nft__7@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__8.png", srcset="images/page-7/node-nft__8@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__9.png", srcset="images/page-7/node-nft__9@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__10.png", srcset="images/page-7/node-nft__10@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__11.png", srcset="images/page-7/node-nft__11@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	
			a.node-nft__item
				img.node-nft__item__img(src="images/page-7/node-nft__12.png", srcset="images/page-7/node-nft__12@2x.png 2x", alt="") 
				.node-nft__item__desc 
					.node-nft__item__desc__left
						.node-nft__item__desc__left__title
							| Пчела-сортировщик
						.node-nft__item__desc__left__number
							| #123456
					.node-nft__item__desc__right
						.node-nft__item__desc__right__price Price
						.node-nft__item__desc__right__cost 28.888
				.node-nft__item__btn Buy now	

