section.first-screen
	.first-screen__bg
		picture
			source(media='(max-width: 1079px)', srcset='images/first-bg-small.png')
			img(src='images/first-bg.png', alt='')
	.container.first-screen__container
		+play('https://www.youtube.com/embed/tEPB7uzKuh4', 'first-screen__play')
		.first-screen__title.text-modal-btn Hivens
		.first-screen__subtitle Decentralization <br> Data Ecosystem and <br> Marketplace <br> Platform
		include search-main.pug
		label.field.field--checkbox.first-screen__privacy
			input(type='checkbox', name='policy')
			span Соглашаюсь с правилами пользования сайтом и политикой приватности

	.text-modal-first-screen
		.text-modal-first-screen__back 
		.text-modal-first-screen__container
			.container
				.text-modal-first-screen__content
					.text-modal-first-screen__close
					section.slider-anim
						.slider-anim__wrapper
							.slider-anim__slider.swiper-container.__js_slider-anim
								.swiper-wrapper
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title Пасечник
											.slider-anim__text
												| Это пасечник, он является поставщиком мёда из данных. 
												br
												|  У него есть пасека из серверов.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Цветы”- информация
											.slider-anim__text
												| Это поля цветков, букеты публичной, аналитической и сервисной информации. Они в ожидании сборщиков-пчёл
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Пчелы” - скрипты
											.slider-anim__text
												| Пчелы- главные работяги экосистемы Hivens. Пчелы делятся на виды, каждый из которых занят своими задачами. Например, один вид делает мед данных, другой собирает пыльцу с букетов информации и т.д.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Цветы”- источники данных
											.slider-anim__text
												| Пчелы, собирают к себе в улий пыльцу с букетов данных и других ульев. Количество источников пыльцы неограничено.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Нода/Улей”- сервер
											.slider-anim__text
												| Нода/Улей - это центр сбора и обработки пыльцы данных любого пасечника. Здесь происходит создание меда из данных.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Улье внутри”- нода в разрезе
											.slider-anim__text
												| Улье представляет собой механизм получения меда данных из сырья данных (пыльцы). Также здесь пчелки подготавливают мед к продаже.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Типы ульев”- виды серверов
											.slider-anim__text
												| Улья делятся на три типа, отличающиеся уровнями и стоймостью. Чем больше уровней, тем больше функционал и возможности улья. А чем лучше улье, тем вкуснее мед
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Бочки с медом”- данные для продажи
											.slider-anim__text
												| После обработки пыльца данных преваращется во вкусный мед и разливается по бочкам
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Сорта меда”- 6 типов данных
											.slider-anim__text
												| На пасеках нашей экосистемы готовитятся 6 сортов меда данных, которые поступают в продажу в соответствии с их сегментацией.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Рынок”- маркетплейс
											.slider-anim__text
												| Все бочки меда поступают в маркетплейс,  где происходят сделки по покупке и продаже меда данных.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title Возможности маркетплейса
											.slider-anim__text
												| Маркетплейс отвечает не только за продажу меда данных, но и за разработку новых пчел, ульев, платежных сервисов и других элементов экосистемы.
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title Участники экосистемы
											.slider-anim__text
												| Все идут за медом! Экосистема объединяет поставщиков данных и покупателей этих данных. Покупатели разообразны, ими могут оказаться даже сами пасечники
									.slider-anim__slide.swiper-slide
										.slider-anim__left
											.slider-anim__title “Дублон”- Tokken Hiv
											.slider-anim__text
												| Золотая монетка Токен HIV является платежным средством экосистемы. Чтобы использовать сервисы экосистемы обзаведитесь чеканной монетой!
								span.swiper-notification(aria-live='assertive' aria-atomic='true')
							.slider-anim__animation
								img.slider-anim__image.slider-anim__image--1(src='images/slider/beekeeper.png' alt='' style='transform: translate(0px, 0px);')
								img.slider-anim__image.slider-anim__image--2(src='images/slider/db.png' width='292' height='414' alt='' style='opacity: 0;')
								img.anim-pic.anim-pic--1(src='images/slider/mountains.svg' alt='' style='transform-origin: 194px 105.5px; transform: translate(0px, 0px);')
								img.anim-pic.anim-pic--2(src='images/slider/pattern.svg' alt='' style='transform-origin: 184px 83px; transform: translate(0px, 0px);')
								img.anim-pic.anim-pic--3(src='images/slider/planet.svg' alt='' style='transform-origin: 80.5px 52px; transform: translate(0px, 0px); opacity: 1;')
								img.anim-pic.anim-pic--4(src='images/slider/stem.svg' alt='' style='transform: translate(0px, 250px);')
								img.anim-pic.anim-pic--5(src='images/slider/bee.svg' alt='' style='transform: translate(0px, -300px);')
								img.anim-pic.anim-pic--6(src='images/slider/flower.svg' alt='')
								img.anim-pic.anim-pic--7(src='images/slider/bee-2.png' alt='')
								img.anim-pic.anim-pic--8(src='images/slider/uley.png' alt='' style='transform: translate(480px, 0px);')
								img.anim-pic.anim-pic--9(src='images/slider/cloud.svg' alt='' style='transform: translate(0px, 230px);')
								img.anim-pic.anim-pic--10(src='images/slider/uley-2.png' alt='')
								img.anim-pic.anim-pic--11(src='images/slider/face.svg' alt='')
								img.anim-pic.anim-pic--12(src='images/slider/face-ul-1.svg' alt='')
								img.anim-pic.anim-pic--13(src='images/slider/face-ul-2.svg' alt='')
								img.anim-pic.anim-pic--14(src='images/slider/stem-2.svg' alt='')
								img.anim-pic.anim-pic--15(src='images/slider/barrel.png' alt='' style='transform: scale(0, 0);')
								img.anim-pic.anim-pic--16(src='images/slider/barrels.png' alt='' style='transform: translate(500px, 0px);')
								img.anim-pic.anim-pic--17(src='images/slider/marketplace.jpg' alt='' style='transform: scale(0, 0);')
								img.anim-pic.anim-pic--18(src='images/slider/stem-3.svg' alt='' style='transform: translate(0px, 150px);')
								img.anim-pic.anim-pic--19(src='images/slider/marketplace-2.png' alt='' style='transform: scale(0, 0);')
								img.anim-pic.anim-pic--20(src='images/slider/person-1.svg' alt='' style='transform: translate(320px, 0px);')
								img.anim-pic.anim-pic--21(src='images/slider/person-2.svg' alt='' style='transform: translate(320px, 0px);')
								img.anim-pic.anim-pic--22(src='images/slider/person-3.svg' alt='' style='transform: translate(-380px, 0px);')
								img.anim-pic.anim-pic--23(src='images/slider/person-4.svg' alt='' style='transform: translate(-380px, 0px);')
								img.anim-pic.anim-pic--24(src='images/slider/last.svg' alt='' style='transform: translate(0px, -480px);')
							.slider-anim__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
								span.swiper-pagination-bullet.swiper-pagination-bullet-active(tabindex='0' role='button' aria-label='Go to slide 1' aria-current='true')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 2')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 3')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 4')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 5')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 6')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 7')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 8')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 9')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 10')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 11')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 12')
								span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 13')
							.slider-prev.swiper-button-disabled(tabindex='-1' role='button' aria-label='Previous slide' aria-controls='swiper-wrapper-3d51f1193baf9d8c' aria-disabled='true')
								svg
									use(xlink:href='./images/sprite.svg#chevron-down')
							.slider-next(tabindex='0' role='button' aria-label='Next slide' aria-controls='swiper-wrapper-3d51f1193baf9d8c' aria-disabled='false')
								svg
									use(xlink:href='./images/sprite.svg#chevron-down')


