section.slider-anim
	.container
		.custom-title.slider-anim__custom-title
			span.custom-title__meet Meet
			span.custom-title__bee the
			span.custom-title__characters characters
			span.custom-title__from from
			span the
			span.custom-title__hivens Hivens
			span.custom-title__glossary glossary
		.slider-anim__scroll scroll
			+icon('anchor')(width='42', height='55')
		.slider-anim__slider.swiper-container.__js_slider-anim
			.swiper-wrapper
				.slider-anim__slide.swiper-slide
					.slider-anim__left
						.slider-anim__title Пасечник
						.slider-anim__text Это пасечник, он является поставщиком мёда из данных. <br> У него есть пасека из серверов.
					.slider-anim__right
						img.slider-anim__image.slider-anim__image--1(src='images/slider/beekeeper.png', alt='')
						img.anim-pic.anim-pic--1(src='images/slider/mountains.svg', alt='')
						img.anim-pic.anim-pic--2(src='images/slider/pattern.svg', alt='')
						img.anim-pic.anim-pic--3(src='images/slider/planet.svg', alt='')
				.slider-anim__slide.swiper-slide
					.slider-anim__left
						.slider-anim__title Пасечник
						.slider-anim__text Это пасечник, он является поставщиком мёда из данных. <br> У него есть пасека из серверов.
					.slider-anim__right
						img.slider-anim__image.slider-anim__image--1(src='images/slider/beekeeper.png', alt='')
						img.anim-pic.anim-pic--1(src='images/slider/mountains.svg', alt='')
						img.anim-pic.anim-pic--2(src='images/slider/pattern.svg', alt='')
						img.anim-pic.anim-pic--3(src='images/slider/planet.svg', alt='')
				.slider-anim__slide.swiper-slide
					.slider-anim__left
						.slider-anim__title Пасечник
						.slider-anim__text Это пасечник, он является поставщиком мёда из данных. <br> У него есть пасека из серверов.
					.slider-anim__right
						img.slider-anim__image.slider-anim__image--1(src='images/slider/beekeeper.png', alt='')
						img.anim-pic.anim-pic--1(src='images/slider/mountains.svg', alt='')
						img.anim-pic.anim-pic--2(src='images/slider/pattern.svg', alt='')
						img.anim-pic.anim-pic--3(src='images/slider/planet.svg', alt='')

			.slider-anim__pagination
			.slider-prev
				+icon('chevron-down')
			.slider-next
				+icon('chevron-down')
