footer.footer(style='background-image: url("./images/footer-bg.png")')
	.container.footer__container
		.footer__title Decentralization Data Ecosystem <br> and Marketplace Platform Directories
		.footer__browse
			a(href='#', target='_blank') Browse directories
				+icon('arrow-link')(width='66', height='10')

		include ../blocks/search-dictionary.pug

		.footer__search-dictionary.search-dictionary.search-dictionary--without-filter
			.search-dictionary__image
				+icon('company')(width='25', height='25')
			.search-dictionary__right
				.search-dictionary__title people sesrch
				.search-dictionary__cities
					a(href='#', target='_blank') Boston
					a(href='#', target='_blank') New York City
					a(href='#', target='_blank') Houston
					a(href='#', target='_blank') Chocago
					a(href='#', target='_blank') Los Angeles
					a(href='#', target='_blank') Atlanta

		.footer__line

		.footer__
