header.header
  .container.header__container
    .header-top
      .header-top__col
        a(href="#").logo.header__logo
          +icon('logo')
        .header-top__links
          .header__link
            a(href="#") Экосистема
          .header__link.header__link--dropdown
            a(href="#") Платформа
              +icon('chevron-down')(width="20" height="14")
            ul.header-top__sub-menu
              li.header-top__sub-menu-item
                a(href="#") Something else
              li.header-top__sub-menu-item
                a(href="#") Something else
              li.header-top__sub-menu-item
                a(href="#") Something else
              li.header-top__sub-menu-item.header-top__sub-menu-item--separated
                a(href="#") Separated link
      .header-top__col
        .header-burger
          span
        .header-top__buttons
          a(href="#").nav-link
            +icon('message')
          .nav-item.dropdown-wrapper.dropdown-cart.mr-25
            a.nav-link(href="javascript:void(0);" data-toggle="dropdown" aria-expanded="true")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart ficon")
                circle(cx="9" cy="21" r="1")
                circle(cx="20" cy="21" r="1")
                path(d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6")
              span.badge.badge-pill.badge-primary.badge-up.cart-item-count 6
            ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
              li.dropdown-menu-header
                .dropdown-header.d-flex
                  h4.notification-title.mb-0.mr-auto My Cart
                  .badge.badge-pill.badge-light-primary 4 Items
              li.scrollable-container.media-list.ps.ps--active-y
                .media.align-items-center
                  img.d-block.rounded.mr-1(src="../../../app-assets/images/pages/eCommerce/1.png" alt="donuts" width="62")
                  .media-body
                    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove")
                      line(x1="18" y1="6" x2="6" y2="18")
                      line(x1="6" y1="6" x2="18" y2="18")
                    .media-heading
                      h6.cart-item-title
                        a.text-body(href="app-ecommerce-details.html") Apple watch 5
                      small.cart-item-by By Apple
                    .cart-item-qty
                      .input-group.bootstrap-touchspin
                        span.input-group-btn.input-group-prepend.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-down(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus")
                              line(x1="5" y1="12" x2="19" y2="12")
                        input.touchspin-cart.form-control(type="number" value="1")
                        span.input-group-btn.input-group-append.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-up(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus")
                              line(x1="12" y1="5" x2="12" y2="19")
                              line(x1="5" y1="12" x2="19" y2="12")
                    h5.cart-item-price $374.90
                .media.align-items-center
                  img.d-block.rounded.mr-1(src="../../../app-assets/images/pages/eCommerce/7.png" alt="donuts" width="62")
                  .media-body
                    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove")
                      line(x1="18" y1="6" x2="6" y2="18")
                      line(x1="6" y1="6" x2="18" y2="18")
                    .media-heading
                      h6.cart-item-title
                        a.text-body(href="app-ecommerce-details.html") Google Home Mini
                      small.cart-item-by By Google
                    .cart-item-qty
                      .input-group.bootstrap-touchspin
                        span.input-group-btn.input-group-prepend.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-down(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus")
                              line(x1="5" y1="12" x2="19" y2="12")
                        input.touchspin-cart.form-control(type="number" value="3")
                        span.input-group-btn.input-group-append.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-up(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus")
                              line(x1="12" y1="5" x2="12" y2="19")
                              line(x1="5" y1="12" x2="19" y2="12")
                    h5.cart-item-price $129.40
                .media.align-items-center
                  img.d-block.rounded.mr-1(src="../../../app-assets/images/pages/eCommerce/2.png" alt="donuts" width="62")
                  .media-body
                    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove")
                      line(x1="18" y1="6" x2="6" y2="18")
                      line(x1="6" y1="6" x2="18" y2="18")
                    .media-heading
                      h6.cart-item-title
                        a.text-body(href="app-ecommerce-details.html") iPhone 11 Pro
                      small.cart-item-by By Apple
                    .cart-item-qty
                      .input-group.bootstrap-touchspin
                        span.input-group-btn.input-group-prepend.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-down(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus")
                              line(x1="5" y1="12" x2="19" y2="12")
                        input.touchspin-cart.form-control(type="number" value="2")
                        span.input-group-btn.input-group-append.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-up(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus")
                              line(x1="12" y1="5" x2="12" y2="19")
                              line(x1="5" y1="12" x2="19" y2="12")
                    h5.cart-item-price $699.00
                .media.align-items-center
                  img.d-block.rounded.mr-1(src="../../../app-assets/images/pages/eCommerce/3.png" alt="donuts" width="62")
                  .media-body
                    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove")
                      line(x1="18" y1="6" x2="6" y2="18")
                      line(x1="6" y1="6" x2="18" y2="18")
                    .media-heading
                      h6.cart-item-title
                        a.text-body(href="app-ecommerce-details.html") iMac Pro
                      small.cart-item-by By Apple
                    .cart-item-qty
                      .input-group.bootstrap-touchspin
                        span.input-group-btn.input-group-prepend.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-down(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus")
                              line(x1="5" y1="12" x2="19" y2="12")
                        input.touchspin-cart.form-control(type="number" value="1")
                        span.input-group-btn.input-group-append.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-up(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus")
                              line(x1="12" y1="5" x2="12" y2="19")
                              line(x1="5" y1="12" x2="19" y2="12")
                    h5.cart-item-price $4,999.00
                .media.align-items-center
                  img.d-block.rounded.mr-1(src="../../../app-assets/images/pages/eCommerce/5.png" alt="donuts" width="62")
                  .media-body
                    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove")
                      line(x1="18" y1="6" x2="6" y2="18")
                      line(x1="6" y1="6" x2="18" y2="18")
                    .media-heading
                      h6.cart-item-title
                        a.text-body(href="app-ecommerce-details.html") MacBook Pro
                      small.cart-item-by By Apple
                    .cart-item-qty
                      .input-group.bootstrap-touchspin
                        span.input-group-btn.input-group-prepend.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-down(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus")
                              line(x1="5" y1="12" x2="19" y2="12")
                        input.touchspin-cart.form-control(type="number" value="1")
                        span.input-group-btn.input-group-append.bootstrap-touchspin-injected
                          button.btn.btn-primary.bootstrap-touchspin-up(type="button")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus")
                              line(x1="12" y1="5" x2="12" y2="19")
                              line(x1="5" y1="12" x2="19" y2="12")
                    h5.cart-item-price $2,999.00
                .ps__rail-x(style="left: 0px; bottom: 0px;")
                  .ps__thumb-x(tabindex="0" style="left: 0px; width: 0px;")
                .ps__rail-y(style="top: 0px; right: 0px;")
                  .ps__thumb-y(tabindex="0" style="top: 0px; height: 0px;")
              li.dropdown-menu-footer
                .d-flex.justify-content-between.mb-1
                  h6.font-weight-bolder.mb-0 Total:
                  h6.text-primary.font-weight-bolder.mb-0 $10,999.00
                a.btn.btn-primary.btn-block.waves-effect.waves-float.waves-light(href="app-ecommerce-checkout.html") Checkout
          .nav-item.dropdown-wrapper.dropdown-notification.mr-25
            a.nav-link(href="javascript:void(0);" data-toggle="dropdown" aria-expanded="true")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell ficon")
                path(d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9")
                path(d="M13.73 21a2 2 0 0 1-3.46 0")
              span.badge.badge-pill.badge-danger.badge-up 5
            ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
              li.dropdown-menu-header
                .dropdown-header.d-flex.align-items-center
                  h4.notification-title.mb-0.mr-auto Notifications
                  .badge.badge-pill.badge-light-primary 6 New
              li.scrollable-container.media-list.ps
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar
                        img(src="../../../app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" width="32" height="32")
                    .media-body
                      p.media-heading
                        span.font-weight-bolder Congratulation Sam 🎉
                        | winner!
                      small.notification-text Won the monthly best seller badge.
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar
                        img(src="../../../app-assets/images/portrait/small/avatar-s-3.jpg" alt="avatar" width="32" height="32")
                    .media-body
                      p.media-heading
                        span.font-weight-bolder New message&nbsp;
                        | received
                      small.notification-text You have 10 unread messages
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar.bg-light-danger
                        .avatar-content MD
                    .media-body
                      p.media-heading
                        span.font-weight-bolder Revised Order 👋&nbsp;
                        | checkout
                      small.notification-text MD Inc. order updated
                .media.d-flex.align-items-center
                  h6.font-weight-bolder.mr-auto.mb-0 System Notifications
                  .custom-control.custom-control-primary.custom-switch
                    input.custom-control-input#systemNotification(type="checkbox" checked="")
                    label.custom-control-label(for="systemNotification")
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar.bg-light-danger
                        .avatar-content
                          svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x avatar-icon")
                            line(x1="18" y1="6" x2="6" y2="18")
                            line(x1="6" y1="6" x2="18" y2="18")
                    .media-body
                      p.media-heading
                        span.font-weight-bolder Server down&nbsp;
                        | registered
                      small.notification-text USA Server is down due to hight CPU usage
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar.bg-light-success
                        .avatar-content
                          svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check avatar-icon")
                            polyline(points="20 6 9 17 4 12")
                    .media-body
                      p.media-heading
                        span.font-weight-bolder Sales report&nbsp;
                        | generated
                      small.notification-text Last month sales report generated
                a.d-flex(href="javascript:void(0)")
                  .media.d-flex.align-items-start
                    .media-left
                      .avatar.bg-light-warning
                        .avatar-content
                          svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle avatar-icon")
                            path(d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z")
                            line(x1="12" y1="9" x2="12" y2="13")
                            line(x1="12" y1="17" x2="12.01" y2="17")
                    .media-body
                      p.media-heading
                        span.font-weight-bolder High memory&nbsp;
                        | usage
                      small.notification-text BLR Server using high memory
                .ps__rail-x(style="left: 0px; bottom: 0px;")
                  .ps__thumb-x(tabindex="0" style="left: 0px; width: 0px;")
                .ps__rail-y(style="top: 0px; right: 0px;")
                  .ps__thumb-y(tabindex="0" style="top: 0px; height: 0px;")
                li.dropdown-menu-footer
                  a.btn.btn-primary.btn-block.waves-effect.waves-float.waves-light(href="javascript:void(0)") Read all notifications
        .dropdown-user
          a(href="#").header__avatar.dropdown-user-link
            .header__avatar-img
              img(src="images/avatar.png", alt="")
            span.header__avatar-status.header__avatar-status--success
          .dropdown-menu.dropdown-menu-right(aria-labelledby="dropdown-user")
            a.dropdown-item(href="page-profile.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-50")
                path(d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2")
                circle(cx="12" cy="7" r="4")
              | Profile
            a.dropdown-item(href="app-email.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mr-50")
                path(d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z")
                polyline(points="22,6 12,13 2,6")
              | Inbox
            a.dropdown-item(href="app-todo.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square mr-50")
                polyline(points="9 11 12 14 22 4")
                path(d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11")
              | Task
            a.dropdown-item(href="app-chat.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square mr-50")
                path(d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z")
              | Chats
            .dropdown-divider
            a.dropdown-item(href="page-account-settings.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings mr-50")
                circle(cx="12" cy="12" r="3")
                path(d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z")
              | Settings
            a.dropdown-item(href="page-pricing.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-50")
                rect(x="1" y="4" width="22" height="16" rx="2" ry="2")
                line(x1="1" y1="10" x2="23" y2="10")
              | Pricing
            a.dropdown-item(href="page-faq.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle mr-50")
                circle(cx="12" cy="12" r="10")
                path(d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3")
                line(x1="12" y1="17" x2="12.01" y2="17")
              | FAQ
            a.dropdown-item(href="page-auth-login-v2.html")
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power mr-50")
                path(d="M18.36 6.64a9 9 0 1 1-12.73 0")
                line(x1="12" y1="2" x2="12" y2="12")
              | Logout
        a(href="#").button.button--dark-green.header__button В кабинет
    .header-bottom
      .nav.header__nav
        ul.nav-list
          li.nav-list__item
            a(href="#") Главная
          li.nav-list__item.nav-list__dropdown-item
            a(href="#")
              | Продукты
              +icon('chevron-down')(width="16" height="16")
            .dropdown
              .dropdown__left
                .dropdown__link.open
                  a(href="#") Решения отдела
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                .dropdown__link
                  a(href="#") Отраслевые решения
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
          li.nav-list__item.nav-list__dropdown-item
            a(href="#")
              | Решения
              +icon('chevron-down')(width="16" height="16")
            .dropdown
              .dropdown__left
                .dropdown__link.open
                  a(href="#") Решения отдела
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                .dropdown__link
                  a(href="#") Отраслевые решения
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
          li.nav-list__item.nav-list__dropdown-item
            a(href="#")
              | Наши данные
              +icon('chevron-down')(width="16" height="16")
            .dropdown
              .dropdown__left
                .dropdown__link.open
                  a(href="#") Решения отдела
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                .dropdown__link
                  a(href="#") Отраслевые решения
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
          li.nav-list__item.nav-list__dropdown-item
            a(href="#")
              | Децентрализация
              +icon('chevron-down')(width="16" height="16")
            .dropdown
              .dropdown__left
                .dropdown__link.open
                  a(href="#") Решения отдела
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                .dropdown__link
                  a(href="#") Отраслевые решения
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
          li.nav-list__item.nav-list__dropdown-item
            a(href="#")
              | Ресурсы
              +icon('chevron-down')(width="16" height="16")
            .dropdown
              .dropdown__left
                .dropdown__link.open
                  a(href="#") Решения отдела
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                .dropdown__link
                  a(href="#") Отраслевые решения
                    +icon('chevron-right')(width="16" height="16")
                  .dropdown__submenu
                    .dropdown__center
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                      a.dropdown__category-item(href='#', target='_blank')
                        .dropdown__image
                        .dropdown__category-content
                          p Финансовые услуги
                          p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
                    .dropdown__right
                      .dropdown__title Быстрые ссылки:
                      .dropdown__text
                        p Послушайте клиентов Snowflake из моей отрасли
                        p Маленькая книга <br> большого успеха - Финансовые услуги
                        p 5 способов, которыми данные меняют <br> розничную торговлю
                        p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
                        p Платформа облачных данных для демонстрации федерального правительства
                      .dropdown__download
                        p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
                        a(href='#') Скачать сейчас
                img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
      form.search.header__search
        button(type="submit").search__btn
          span Поиск
          +icon('search')(width="20" height="20")
        .header__input-group
          input.search-input.header__search-input(placeholder="Поиск" type="text")
          button.search__btn-close
            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x")
              line(x1="18" y1="6" x2="6" y2="18")
              line(x1="6" y1="6" x2="18" y2="18")
