header.header
	.container.header__container
		.header-top
			.header-top__col
				a(href="#").logo.header__logo
					+icon('logo')(width="320" height="40")
				.header-top__links 
					a(href="#").header__link Экосистема
					a(href="#").header__link Платформа
						+icon('chevron-down')(width="24" height="24")
			.header-top__col
				a(href="#").btn Button
		.header-bottom



