- const ABOUT_NODES_ITEMS = [{title: 'Стражники', text: 'Весь улей защищают пчелы-стражники. Они летают и охраняют все, а отделам хранения и банку они уделяют особое внимание', mod: 'guards'}, {title: 'Приемка данных', text: 'Приемка - место, куда приходят данные из разных источников. Там пчелы-приемники их маркируют, согласно структуре поступившей информации', mod: 'acceptance'}, {title: 'Юридический отдел', text: 'Каждый источник проверяются пчелами-юристами на CCPA + GDPR compliance. Если проверку проходят, то данные идут дальше по алгоритму', mod: 'legal'}, {title: 'Обработка данных', text: 'В отделе обработки данных происходит: обработка, сортировка, агрегирование, вычисление. Исправление ошибок в указание данных.', mod: 'processing'}, {title: 'Аналитический отдел', text: 'Этот отдел занимается посторением связей между данными, определение схожих данных, дубликатов исправление данных, определение типов данных.', mod: 'analytical'}, {title: 'Отдел сегментации', text: 'После аналитического этапа пчелы отдела сегментации разделяют информацию по типам: люди, компании, услуги, сайты, товары, услуги.', mod: 'segmentation'}, {title: 'Хранилище', text: 'После сегментации данные помещаются в чистое хранилище с протоколом Data Transfer, для передачи данных по APL. Тут же происходит шифрование данных и получение кодированных хешей', mod: 'storage'}, {title: 'Банк', text: 'Банк хранит свой баланс и отвечает за транзакции. В его в ячейках хранятся ключи, ключ отправляют, деньги принимают  и в хранилище прячут. Если другой пасечник хочет купить, то деньги платят, и ключ принимают.', mod: 'bank'} ];

section.about-nodes
  .about-nodes__container.container 
    header.about-nodes__header 
      +title('Что такое Ноды и для чего они нужны?', 'h2', 'about-nodes__title')
    
    .about-nodes__text <strong>Нода</strong> - это узел в децентрализованной сети, представляет собой программный комплекс в виде модулей. Нода устанавливается на ПК или сервер владельца, интегрируется с клиентской базой, контактами, аналитическими системами, может собирать информацию из публичных источников, находить необходимую информацию на нодах экосистемы.
    
    .about-nodes__image 
      img(src="images/page-4/about-nodes.jpg", srcset="images/page-4/about-nodes@2x.jpg 2x", width="", height="", alt="")

      a.about-nodes__btn(href="#") Click Here!

