.first-screen {
	position: relative;

	&__container {
		position: absolute;
		top: 240px;
		left: 50%;
		transform: translateX(-50%);

		@include max(md) {
			top: 133px;
		}
	}

	&__bg {
		position: relative;
		margin-top: -125px;

		@include max(md) {
			margin-top: -95px;
		}

		img {
			width: 100%;
			height: 100%;
			min-height: 1324px;
			object-fit: cover;

			@include max(md) {
				min-height: 631px;
				max-height: 631px;
				object-fit: fill;
			}
		}
	}

	&__play {
		margin: 0 auto;
	}

	&__title {
		font-size: 77px;
		line-height: 94px;
		font-weight: 600;
		text-align: center;
		color: $white;
		margin-top: 62px;

		@include max(md) {
			margin-top: 14px;
		}

		@include max(xxs) {
			font-size: 55px;
			line-height: 62px;
		}
	}

	&__subtitle {
		font-size: 28px;
		line-height: 34px;
		font-weight: 500;
		text-align: center;
		color: $white;
		margin-top: 30px;
		margin-bottom: 50px;

		@include max(md) {
			font-size: 24px;
			line-height: 29px;
			margin-top: 1px;
			margin-bottom: 30px;
		}

		@include max(xxs) {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 20px;
		}

		br {
			display: none;

			@include max(md) {
				display: block;
			}

			@include max(xxs) {
				display: none;
			}
		}
	}

	&__privacy {
		max-width: 750px;
		width: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 48px;

		@include max(md) {
			max-width: 278px;
			margin-top: 33px;
		}

		@include max(xxs) {
			margin-top: 15px;
		}
	}
}



		.text-modal-first-screen {
			position: fixed;
			z-index: 9999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			visibility: hidden;
			padding: 0 40px;
			overflow: hidden;
			@media (max-width: 768px){
				padding: 0;
			}
			&__back {
				background-color: rgba($color: #000000, $alpha: 0.4);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				opacity: 0;
				transition: all 0.3s ease 0s;
			}
			&__container {
				margin: 1.75rem auto;
				transition: transform 0.3s ease-out;
				pointer-events: none;
				opacity: 0;
				transform: translate(0, -20%);
				position: relative;
				@media (max-width: 768px){
					margin: 20px 0;
				}
			}
			&__content {
				box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%);
				overflow: visible;
				background-clip: padding-box;
				background-color: #fff;
				border: 0 solid rgba(34, 41, 47, .2);
				border-radius: 0.357rem;
				display: flex;
				flex-direction: column;
				outline: 0;
				pointer-events: auto;
				position: relative;
				width: 100%;
				padding: 60px 20px;
				@media (max-width: 768px){
					padding: 10px 10px 20px;
				}
				.slider-anim {
					padding: 0;
					@media (max-width: 768px){
						max-height: calc(100vh - 40px);
						overflow-y: auto;
						&::-webkit-scrollbar {
							width: 0px;
						}
					}
				}
				.slider-prev {
					left: 20px;
					@media only screen and (max-width: 768px){
						top: 30%!important;
						width: 45px!important;
						height: 45px!important;
						border: 1.5px solid #00a79e!important;
					}
				}
				.slider-next {
					right: 20px;
					@media only screen and (max-width: 768px){
						top: 30%!important;
						width: 45px!important;
						height: 45px!important;
						border: 1.5px solid #00a79e!important;
					}
				}
				.slider-anim__title {
					font-size: 32px;
				}
				.slider-anim__text {
					font-size: 21px;
				}
				.slider-anim__slider {
					padding-bottom: 20px;
				}
			}

				&__header {
					background-color: #f8f8f8;
					align-items: center;
					border-bottom: 0 solid #ebe9f1;
					border-top-left-radius: 0.357rem;
					border-top-right-radius: 0.357rem;
					display: flex;
					flex-shrink: 0;
					justify-content: space-between;
					padding: 0.8rem 1.4rem;
				}

				&__title {}

				&__close {
					background-color: #fff;
					border-radius: 0.357rem;
					box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%);
					opacity: 1;
					padding: 0.8rem;
					position: absolute;
					z-index: 999;
					top: 0;
					right: 0;
					transform: translate(30px, 0px);
					transition: all .23s ease .1s;
					border: 0;
					border-radius: 0.357rem;
					box-sizing: content-box;
					color: currentColor;
					height: 0.75rem;
					opacity: .4;
					padding: 0.25em;
					width: 0.75rem;
					cursor: pointer;
					@media (max-width: 768px){
						transform: translate(0px, 0px);
						top: 10px;
						right: 10px;
					}
					&::before,&::after{
						content:'';
						position: absolute;
						top: 50%;
						left: 50%;
						background-color: #000000;
						width: 60%;
						height: 1px;
					}
					&::before{
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&::after{
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}

				&__body {
					flex: 1 1 auto;
					padding: 0.8rem 1.4rem;
					position: relative;
				}

				&__subtitle {}

				&__text {}

			&.js-text-modal-active {
				visibility: visible;
				.text-modal-first-screen__back {
					pointer-events: auto;
					opacity: 1;
				}
				.text-modal-first-screen__container {
					pointer-events: auto;
					opacity: 1;
					transform: translate(0, 0);
				}
			}
		}
