.timer {
  display: flex;

  &__column {
    & + & {
      margin-left: 24px;
    }
  }

  &__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 94px;
    font-size: 30px;
    line-height: (36.57 / 30);
    font-weight: 600;
    color: $white;
    border-radius: 12px;
    background-color: $green-9e;
    box-shadow: 0px 2.04886px 13.6591px 0.682953px rgba(0, 0, 0, 0.07);
  }

  &__caption {
    margin-top: 10px;
    font-size: 14px;
    line-height: (18.5 / 14);
    font-weight: 500;
    color: $green-9e;
    text-align: center;
  }
}
