.social {
	display: flex;
	align-items: center;
	justify-content: center;

	&__item {
		&:not(:last-child) {
			margin-right: 20px;

			@include max(md) {
				margin-right: 10px;
			}
		}

		a {
			transition: opacity 0.3s ease;

			@include hover {
				opacity: 0.65;
			}

			svg {
				@include max(md) {
					fill: $white !important;
				}
			}
		}
	}

	.tw {
		fill: #00ACEE;
	}

	.fb {
		fill: #3B5998;
	}

	.in {
		fill: #0E76A8;
	}

	.git {
		fill: #211F1F;
	}

	.google {
		fill: #DB3236;
	}

	.insta {
		fill: #3F729B;
	}

	.star {
		fill: #FF9F43;
	}

	.heart {
		fill: #EA5455;
	}
}