section.cases 
	.container 
		header.cases__header 
			+title('Кейсы использования по сферам', 'h2', 'cases__title')
			p.cases__text 
				b Нода 
				| - это узел в децентрализованной сети, представляет собой программный комплекс в виде модулей.
		.cases__content
			.cases__image
				img(src="images/page-6/cases-bg.jpg", srcset="images/page-6/cases-bg@2x.jpg 2x", alt="")
			.cases__items.swiper-container 
				.swiper-wrapper
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Software, Internet & Computer Services
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Consumer Services
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Travel, Recreation & Leisure
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Transportation & Warehousing
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Telecommunications
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Professional Services
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Technology Hardware & Equipment
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--left.swiper-slide
						.cases__item-inner
							.cases__item-title Real Estate & Construction
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Banking, Financial Services & Insurance
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Food & Beverages
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Industrial Goods & Services
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Pharmaceuticals & Biotechnology
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Retail
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Media & Entertainment
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Health Care Equipment & Services
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
					.cases__item.cases__item--right.swiper-slide
						.cases__item-inner
							.cases__item-title Personal & Household Goods
							.cases__item-line-block
								.cases__item-line
								.cases__item-round
