section.fields 
	.container 
		header.fields__header 
			+title('Какие поля обрабатываются для 6 типов данных?', 'h2', 'fields__title')
		.fields__content 
			.fields__categories
				.swiper-wrapper
					.fields__filter.swiper-slide.active(data-target="peopleProfile")
						.fields__filter-inner 
							.fields__filter-icon
								+icon('person')
							.fields__filter-text
								span People Profile
					.fields__filter.swiper-slide(data-target="siteDomain") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('globe')
							.fields__filter-text
								span Site Domain Info
					.fields__filter.swiper-slide(data-target="goods") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('goods')
							.fields__filter-text
								span Goods
					.fields__filter.swiper-slide(data-target="companyProfile") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('company')
							.fields__filter-text
								span Company Profile
					.fields__filter.swiper-slide(data-target="addresses") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('mark')
							.fields__filter-text
								span Addresses
					.fields__filter.swiper-slide(data-target="services") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('services-hand')
							.fields__filter-text
								span Services
			.fields__slider.swiper-container
				.fields__button-prev.swiper-button-prev
					+icon('chevron-left')
				.swiper-wrapper 
					.fields__slide.swiper-slide(data-category="peopleProfile")
						.fields__slide-inner 
							.fields__slide-title People Profile
							.fields__slide-image
								img(src="images/page-6/fields/people-profile.jpg", srcset="images/page-6/fields/people-profile@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--people-social @_hummer
								.fields__slide-image-text.fields__slide-image-text--people-phone +7 696 454 45 44
								.fields__slide-image-text.fields__slide-image-text--people-email inge.hummer@cnm.com
							.fields__slide-list
								.fields__slide-item 
									| email
								.fields__slide-item 
									| email
								.fields__slide-item 
									| телефон
								.fields__slide-item 
									| телефон
								.fields__slide-item 
									| профили в соц сетях
								.fields__slide-item 
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="peopleProfile")
						.fields__slide-inner
							.fields__slide-title People Profile
							.fields__slide-image
								img(src="images/page-6/fields/people-profile.jpg", srcset="images/page-6/fields/people-profile@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--people-social @_hummer
								.fields__slide-image-text.fields__slide-image-text--people-phone +7 696 454 45 44
								.fields__slide-image-text.fields__slide-image-text--people-email inge.hummer@cnm.com
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="siteDomain")
						.fields__slide-inner
							.fields__slide-title Site Domain Info
							.fields__slide-image
								img(src="images/page-6/fields/websites.jpg", srcset="images/page-6/fields/websites@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--websites-ip 123.123.123.124
								.fields__slide-image-text.fields__slide-image-text--websites-www WWW.
								.fields__slide-image-text.fields__slide-image-text--websites-email inge.hummer@cnm.com
							.fields__slide-list
								.fields__slide-item
									| domain name
								.fields__slide-item
									| country by IP 
								.fields__slide-item
									| DNS servers 
								.fields__slide-item
									| country by HTML codepage
								.fields__slide-item
									| IP 
								.fields__slide-item
									| Web server type
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| domain name
								.fields__slide-item
									| country by IP 
								.fields__slide-item
									| DNS servers 
								.fields__slide-item
									| country by HTML codepage
								.fields__slide-item
									| IP 
								.fields__slide-item
									| Web server type
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="siteDomain")
						.fields__slide-inner
							.fields__slide-title Site Domain Info
							.fields__slide-image
								img(src="images/page-6/fields/websites.jpg", srcset="images/page-6/fields/websites@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--websites-ip @_hummer
								.fields__slide-image-text.fields__slide-image-text--websites-www +7 696 454 45 44
								.fields__slide-image-text.fields__slide-image-text--websites-email inge.hummer@cnm.com
							.fields__slide-list
								.fields__slide-item
									| domain name
								.fields__slide-item
									| country by IP 
								.fields__slide-item
									| DNS servers 
								.fields__slide-item
									| country by HTML codepage
								.fields__slide-item
									| IP 
								.fields__slide-item
									| Web server type
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| domain name
								.fields__slide-item
									| country by IP 
								.fields__slide-item
									| DNS servers 
								.fields__slide-item
									| country by HTML codepage
								.fields__slide-item
									| IP 
								.fields__slide-item
									| Web server type
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/goods.jpg", srcset="images/page-6/fields/goods@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--goods-date 02.08.2021
								.fields__slide-image-text.fields__slide-image-text--goods-price best price 200$
							.fields__slide-list
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/goods.jpg", srcset="images/page-6/fields/goods@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--goods-date 02.08.2021
								.fields__slide-image-text.fields__slide-image-text--goods-price best price 200$
							.fields__slide-list
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/goods.jpg", srcset="images/page-6/fields/goods@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--goods-date 02.08.2021
								.fields__slide-image-text.fields__slide-image-text--goods-price best price 200$
							.fields__slide-list
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| производитель
								.fields__slide-item
									| новизна
								.fields__slide-item
									| дата выпуска
								.fields__slide-item
									| по отзывам
								.fields__slide-item
									| популярность
								.fields__slide-item
									| по рейтингу
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="companyProfile")
						.fields__slide-inner
							.fields__slide-title Company Profile
							.fields__slide-image
								img(src="images/page-6/fields/company-profile.jpg", srcset="images/page-6/fields/company-profile@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--company-social @_hummer
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="companyProfile")
						.fields__slide-inner
							.fields__slide-title Company Profile
							.fields__slide-image
								img(src="images/page-6/fields/company-profile.jpg", srcset="images/page-6/fields/company-profile@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--company-social @_hummer
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="addresses")
						.fields__slide-inner
							.fields__slide-title Addresses
							.fields__slide-image
								img(src="images/page-6/fields/addresses.jpg", srcset="images/page-6/fields/addresses@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--addresses-date lease term: 05.12.2022
								.fields__slide-image-text.fields__slide-image-text--addresses-city Los Angeles
								.fields__slide-image-text.fields__slide-image-text--addresses-area 68,9 М <sup>2</sup>
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="addresses")
						.fields__slide-inner
							.fields__slide-title Addresses
							.fields__slide-image
								img(src="images/page-6/fields/addresses.jpg", srcset="images/page-6/fields/addresses@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--addresses-date lease term: 05.12.2022
								.fields__slide-image-text.fields__slide-image-text--addresses-city Los Angeles
								.fields__slide-image-text.fields__slide-image-text--addresses-area 68,9 М <sup>2</sup>
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="services")
						.fields__slide-inner
							.fields__slide-title Services
							.fields__slide-image
								img(src="images/page-6/fields/services.jpg", srcset="images/page-6/fields/services@2x.jpg 2x", alt="")
								.fields__slide-image-text.fields__slide-image-text--services-date Reviews: 95/100
								.fields__slide-image-text.fields__slide-image-text--services-location location
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
				.fields__slider-pagination.swiper-pagination
					.swiper-pagination-bullet.swiper-pagination-bullet-active
					.swiper-pagination-bullet
				.fields__button-next.swiper-button-next
					+icon('chevron-right')