.swiper-wrapper.node__slider__wraper  {
	align-items: stretch;
}
.node__slider__wraper .data-types__card.swiper-slide {
	height: auto;
	width: 180px;
	img {
		width: 100%;
		height: 160px;
		object-fit: contain;
		object-position: top center;
	}
	.data-types__card-title {
		font-size: 16px;
	}
}
.node--nft__slider {
	.data-types__slider {
		width: 84%;
	}
}

	
.about-nodes__text.node--nft__slider__text {
	margin-top: 37px;
}
.cookies.visible {
	display: none !important;
}
@include max(sm) {
	.node--nft__slider{
		.data-types__header {
			padding-left: 15px;
			justify-content: flex-start;
		}

	}
	
}