extends ../layouts/components

block vars
  -
    const page = {
      title: 'Общие компоненты'
    };

block main
  .container
    .component-wrapper
      +innerpage-title('Что такое экосистема Hivens?', 'Присоединяйтесь к Hivens и получите доступ ко всем возможностям', 'ecosystem__title')
    .component-wrapper
      .custom-title.custom-title--ta-left
        span.custom-title__meet Meet
        span.custom-title__bee the
        span.custom-title__characters characters
        span.custom-title__from from
        span the
        span.custom-title__hivens Hivens
        span.custom-title__glossary glossary
    .component-wrapper
