extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/page-6/search
	include ../blocks/page-6/data-types
	include ../blocks/page-6/advantages