extends ../layouts/default

block vars
  -
    const page = {
      title: 'Page 7'
    };

block main
  include ../blocks/page-7/hero-section
  include ../blocks/page-7/data-types
  include ../blocks/page-7/faqs
  include ../blocks/page-7/bees-nft-buy.pug
