extends ../layouts/default

block vars
  -
    const page = {
      title: 'Page 5'
    };

block main
  //include ../blocks/page-5/
  include ../blocks/page-5/rating-section
  include ../blocks/page-5/briefly-list
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/
  //include ../blocks/page-5/


