.thero {
  padding: 104px 0 20px;
  background-repeat: no-repeat;
  background-image: url("../images/page-5/hero-bg.svg");
  background-position: left 48.4% bottom -128px;

  @include max(1270) {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 514px;
    column-gap: 90px;
  }

  &__title {
    margin-bottom: 39px;
    font-size: 39px;
    line-height: (48 / 39);
    font-weight: 400;
    color: $white;
  }

  &__content {
    grid-column: 1;
    grid-row: 2;
  }

  &__text {
    margin-bottom: 39px;
    font-size: 24px;
    line-height: (29 / 24);
    font-weight: 500;
    color: $white;
  }

  &__buttons {
    display: flex;
    margin-bottom: 126px;
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 30px;
    font-size: 21px;
    line-height: 1;
    color: $white;
    letter-spacing: 0.025em;
    font-weight: 500;
    border: solid 1px $white;
    border-radius: 7px;

    & + & {
      margin-left: 29px;
    }
  }

  &__social {
    &-title {
      margin-bottom: 22px;
      font-size: 28px;
      line-height: (34 / 28);
      font-weight: 500;
      color: $white;
    }

    .social {
      justify-content: flex-start;

      &__item:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  &__offer {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;

    padding: 30px 36px 0 30px;
    background-color: rgba($dark, 0.88);

    &-title {
      margin-bottom: 27px;
      font-size: 28px;
      line-height: (34 / 28);
      font-weight: 500;
      color: $white;
      text-align: center;
    }

    &-timer {
      margin-bottom: 46px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      & + & {
        margin-top: 42px;
      }
    }

    &-column {
      &--right {
        text-align: right;
      }
    }

    &-heading {
      max-width: 160px;
      font-size: 14px;
      line-height: (18.5 / 14);
      font-weight: 500;
      color: $green-9e;
      text-transform: uppercase;

      span {
        display: block;
        color: $white;
      }

      & + * {
        margin-top: 5px;
      }
    }

    &-text {
      font-size: 28px;
      line-height: (34 / 28);
      font-weight: 500;
      color: $white;
      text-transform: uppercase;

      &--large {
        font-size: 30px;
        font-weight: 600;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -30px;
      margin-right: -36px;
      margin-top: 28px;
      padding: 34px 36px 34px 30px;
      border-top: solid 1px $green-9e;
    }
  }

  .rating-section {
    margin-top: 79px;
  }
}
