.unique-data {
	padding-top: 70px;
	padding-bottom: 70px;

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__flex {
		display: flex;
		justify-content: space-between;
	}

	&__body {
		margin-top: 54px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 41.29%;
			border-left: solid 1px #ebe9f1;
		}
	}

	&__image {
		width: 54.19%;
		flex-shrink: 0;

		img {
			width: 100%;
		}

		&-text {
			position: absolute;
			top: 27.9%;
			left: 26%;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-size: 10px;
			line-height: (12 / 10);
			color: #ffffff;

			@include max(1270) {
				font-size: vw(10, 1270);
			}
		}
	}

	&__content {
		padding-bottom: 63px;
		background-image: url("../images/page-6/unique-data-bg.svg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;
	}

	&__text {
		max-width: 440px;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		color: $dark-gray-6e;
		margin-bottom: 30px;
	}

	&__list {
		&-item {
			position: relative;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: $dark-gray-6e;
			padding-left: 6px;

			&:not(:first-child) {
				margin-top: 21px;
			}

			span {
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
			}

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: -5px;
				height: 31px;
				width: 39px;
				border-radius: 13px;
				background-color: $citrus;
				z-index: -1;
			}
		}
	}
}
